.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.inputWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

.numberInput {
  font-size: 1.25rem;
  font-weight: 600;
  height: 48px;
  border-style: dashed !important;
}

.unitSuffix {
  font-size: 1.25rem;
  font-weight: 600;
  position: absolute;
  right: var(--space-sm);
  pointer-events: none;
}

.valueDisplayButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  border-bottom: 1px dashed var(--color-text-muted);
  transition: color 0.15s ease, border-color 0.15s ease;
}

.rangeInput {
  appearance: none;
  outline: none;
  height: 4px;
  border-radius: var(--radius-pill);
  margin: var(--space-xs) 0;
  cursor: pointer;
}

/* Style for (Thumb) in Webkit (Chrome/Safari/Edge) */
.rangeInput::-webkit-slider-thumb  {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: var(--radius-pill);
  background: #ffffff;
  cursor: pointer;
  filter: drop-shadow(rgba(52, 58, 64, 0.5) 0px 2px 8px);
}

/* Style for thumb in Firefox */
.rangeInput::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: var(--radius-pill);
  background: #ffffff;
  filter: drop-shadow(rgba(52, 58, 64, 0.5) 0px 2px 8px);
  cursor: pointer;
}

.rangeInput:active::-webkit-slider-thumb {
  outline: 3px solid var(--color-primary);
}

.rangeInput:focus-visible::-webkit-slider-thumb {
  outline: 3px solid var(--color-primary);
}

.rangeInput:active::-moz-range-thumb {
  outline: 3px solid var(--color-primary);
}

.rangeInput:focus-visible::-moz-range-thumb {
  outline: 3px solid var(--color-primary);
}

.footerLabels {
  display: flex;
  justify-content: space-between;
  color: var(--color-text-muted);
}

@media (min-width: 768px) {
  .numberInput {
    font-size: 1.5rem;
    height: 60px;
  }

  .unitSuffix {
    font-size: 1.5rem;
  }
}