.wrapper {
  display: inline-flex;
  background-color: #F3F3F3;
  padding: var(--space-xs);
  border-radius: var(--radius-sm);
}

.segment {
  display: flex;
  justify-content: center;
  padding: var(--space-xs);
  border-radius: var(--radius-xs);
  color: var(--color-text-muted);
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.active {
  background-color: var(--bg-secondary);
  color: var(--color-text-main);
}

.hiddenInput {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
}