.wrapper {
  display: inline-flex;
}

.segment {
  display: flex;
  justify-content: center;
  padding: var(--space-xs);
  color: var(--color-text-muted);
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.hiddenInput {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
}

/* neutral variant */
.neutral {
  background-color: #F3F3F3;
  padding: var(--space-xs);
  border-radius: var(--radius-sm);
  gap: var(--space-xs);
}

.neutral .segment {
  border-radius: var(--radius-xs);
}

.neutral .active {
  color: var(--color-text-main);
  background-color: var(--bg-secondary);
}

/* Accent variant */
.accent {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.accent .segment {
  font-weight: 500;
}

.accent .active {
  border-bottom: 3px solid var(--color-primary);
  background-color: var(--color-primary-light);
  color: var(--color-primary);
}