.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
}

.textarea {
  width: 100%;
  resize: vertical;
  min-height: 160px;
}

@media (min-width: 768px) {
  .textarea {
    min-height: 120px;
  }
}