:root {
  /* Color Palatte */
  --bg-main: #F7FAFA;
  --bg-secondary: #FFFFFF;

  --border: #D9D9D9;

  --color-primary: #117069;
  --color-primary-light: #EAF4F4;

  --color-secondary: #2B3E6E;

  --color-warning: #FDFBED;
  --color-warning-text: #82451E;
  /* --color-warning is a near-white, added this forcontrast */
  --color-warning-strong: #B4711A;
  
  --color-text-main: #000000;
  --color-text-muted: #666666;
  --color-error: #a5231f;

  /* Spacing */
  --space-xs:   0.5rem;  /* 8px */
  --space-sm:   0.75rem; /* 12px */
  --space-base: 1rem;    /* 16px */
  --space-md:   1.25rem; /* 20px */
  --space-lg:   1.75rem; /* 28px */
  --space-xl:   2.5rem;  /* 40px */

  /* Radius */
  --radius-xs: 8px;
  --radius-sm: 16px;
  --radius-base: 24px;
  --radius-pill: 999px;

  /* Font size */
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-title: 2rem;
}

/* Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: 
    background-color 0.2s ease, 
    border-color 0.2s ease, 
    stroke 0.2s ease, 
    box-shadow 0.2s ease;
}

/* System adjustments (iOS scale fix & smooth scroll) */
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Core body defaults */
body {
  background-color: var(--bg-main);
  min-height: 100vh;
  font-size: var(--font-size-base);
  color: var(--color-text-main);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: var(--space-md) var(--space-base);
}

/* Fix responsive media layout breaking */
img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

/* Prevent forms/buttons from breaking typography */
input, button, textarea, select {
  font: inherit;
}

.title {
  font-size: var(--font-size-title);
  font-weight: 500;
  color: var(--color-text-main);
  text-transform: capitalize;
}

.subtitle {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--color-text-muted);
}

.input-base {
  display: flex;
  gap: var(--space-xs);
  padding: var(--space-sm);
  border: 1px solid var(--border);
  border-radius: var(--radius-sm);
}

.input-base:focus-visible {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px var(--color-primary-light);
}


@media (min-width: 768px) {
  :root {
    --space-xs: 0.5rem;   /* 8px */
    --space-sm: 1rem;     /* 16px */
    --space-base: 1.5rem; /* 24px */
    --space-md: 2rem;     /* 32px */
    --space-lg: 2.5rem;   /* 40px */
    --space-xl: 4rem;     /* 64px */
  }
}