:root {
  /* Color Palatte */
  --bg-main: #FFFFFF;
  --bg-secondary: #F7FAFA;

  --border: #D9D9D9;

  --color-primary: #117069;
  --color-primary-light: #EAF4F4;

  --color-secondary: #2B3E6E;

  --color-warning: #FDFBED;
  --color-warning-text: #82451E;
  
  --color-text-main: #000000;
  --color-text-muted: #666666;
  --color-error: #915A58;

  /* Spacing */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-base: 24px;
  --space-md: 32px;
  --space-lg: 40px;
  --space-xl: 64px;

  /* Radius */
  --radius-xs: 8px;
  --radius-sm: 16px;
  --radius-base: 24px;
  --radius-pill: 999px;

  /* Font size */
  --font-size-base: 1rem;
  --font-size-title: 2rem;
}

/* Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: 
    background-color 0.2s ease, 
    border-color 0.2s ease, 
    stroke 0.2s ease, 
    box-shadow 0.2s ease;
}

/* System adjustments (iOS scale fix & smooth scroll) */
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Core body defaults */
body {
  min-height: 100vh;
  font-size: var(--font-size-base);
  color: var(--color-text-main);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

main {
  justify-self: center;
  width: 80%;
  max-width: 1200px;
  padding: var(--space-xl) 0;
}

/* Fix responsive media layout breaking */
img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

/* Prevent forms/buttons from breaking typography */
input, button, textarea, select {
  font: inherit;
}

.title {
  font-size: var(--font-size-title);
  color: var(--color-text-main);
  text-transform: capitalize;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--color-text-muted);
}

/* TODO: Add global styleing for input-base */

@media (min-width: 1024px) {
  /* More padding on bigger screens */
  main {
    width: 60%;
  }
}